* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	border: 0px solid;
}

.MenuItems a:link,a:visited{
	text-decoration: none;
	color:#bababa;
}

.MenuItems a:hover{
	color:#000000;
}

a:hover{
	cursor: crosshair;
}

body{
	display:flex;
	justify-content: center;
}

.Content{
	display:flex;
	font-family: 'Roboto', sans-serif;
	margin-top:70px;
}

.Menu{
	display:flex;
	flex-direction: column;
	/* margin-right:5em;
	margin-left: 6em; */
	position:fixed;
	left:5%;
	top:70px;
}

#MenuTitle{
	margin-bottom:1.5em;
	font-size: 16px;
	font-weight:500;
}

#MenuTitle a,
#header a,
#header2 a{
	text-decoration: none;
	color: #000000;
}

#header2 {
	padding-bottom: 1em;
	padding-top:1.5em;
}
#header{
	padding-bottom: 1em;
}

.MenuObject{
	color:#bababa;
	font-size: 13px;
}

.MenuObject ul{
	line-height: 135%;
}

.Pictures{
	display:flex;
	flex-direction: column;
	max-width: 500px;

}

.Dreams,
.Nightmare,
.PlusMinus
{
	/* padding-bottom:5em; */
}

a:hover .Dreams {
	opacity: 0.75;

}

.Shaver{
	padding-bottom: 14.5em;
}

.MenuObject ul {
  list-style-type: none;
}

.Projecttext{
	padding-top: 44px;
	font-size: 13px;
	color: #bababa;
	text-decoration: none;
}

.Projecttext2{
	padding-top: 114px;
	font-size: 13px;
	color: #bababa;
	text-decoration: none;
}

#menu-icon {
    
	display: none;
	width: 40px;
	height: 40px;
	background: #4C8FEC url(../img/menu-icon.png) center;

}

a:hover#menu-icon {

	background-color: #444;
	border-radius: 4px 4px 0 0;

}


/* Mobile Styles */
@media only screen and (max-device-width: 975px) {
    #menu-icon {

		display:inline-block;

	}
    
    .Menu {
        position: static;
    }

	nav ul, nav:active ul { 

		/* display: none; */
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 300;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

	}
}

