* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	border: 0px solid black;
}

.MenuItems a:link,a:visited{
	text-decoration: none;
	color:#bababa;
}

.MenuItems a:hover{
	color:#000000;
}


body{
	display:flex;
	justify-content: center;
}

.Content{
	display:flex;
  flex-direction:column;
	font-family: 'Roboto', sans-serif;
	margin-top:70px;
}

.Menu{
	display:flex;
	flex-direction: column;
	/* margin-right:5em;
	margin-left: 6em; */
	position:fixed;
	left:5%;
	top:70px;
}

#MenuTitle{
	margin-bottom:1.5em;
	font-size: 16px;
	font-weight:bold;
}

#MenuTitle a,
#header a,
#header2 a{
	text-decoration: none;
	color: #000000;
}

#header2 {
	padding-bottom: 1em;
	padding-top:1.5em;
}
#header{
	padding-bottom: 1em;
}

.MenuObject{
	color:#bababa;
	font-size: 13px;
}

.MenuObject ul{
	line-height: 135%;
}

.Pictures{
	display:flex;
	flex-direction: column;
	align-items: center;

}

.Dreams,
.Nightmare,
.PlusMinus,
.Shaver
{
  max-width:100%;
  height:auto;
  z-index:-2;
  
	/* padding-bottom:5em; */
}

a:hover .Dreams {
	opacity: 0.75;

}

.Shaver{
	padding-bottom: 500px;
}

.MenuObject ul {
  list-style-type: none;
}

.Projecttext{
	padding-top: 44px;
	font-size: 13px;
	color: #bababa;
	text-decoration: none;
  max-width:500px;
  margin-left:0px;
}

.Projecttext2{
	padding-top: 114px;
	font-size: 13px;
	color: #bababa;
	text-decoration: none;
}

#menu-icon {
    
	display: none;
	width: 15px;
	height: 15px;
	background:url(https://cdn.glitch.com/965101d1-f29e-4097-b3f3-b287be791280%2Fhamburger-menu-icon.png?1542558424258) center;
  background-size:15px 15px;
  background-repeat: no-repeat;
  
  
}

a[href*="instagram.com/"] {
background:url(glyph-logo_May2016.png) no-repeat left center;
  background-size:18px;
padding-left:19px;
  font-size:40px;
}


@media only screen and (max-width: 850px) {
  
  .logo {
    display:block;
    position:absolute;
    top:15px;
    left:18px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-decoration: none;
    font-weight: bold;
    line-height: 20px;
    padding: 0 0px;
    color: #000;
    /*float: left;*/
  }
  
  a[href*="instagram.com/"] {
background:url(glyph-logo_May2016.png) no-repeat left center;
  background-size:18px;
padding-left:19px;
  font-size:40px;
}
  
  .Menu {
        display: none;
    }
  
  .Content{
    margin-top:0px;
  }
.Projecttext{
  padding-top:60px;
  margin-left:18px;
  }
  
  .Projecttext2{
  padding-top:20px;
  }
  
  .nav-mob{
    position: fixed;
    width: 100%;
    max-width:500px;
    background-color: #fff;
    z-index: 2;
  }
  
  
}




/* Mobile Styles */
@media only screen and (max-device-width: 975px) {

  a[href*="instagram.com/"] {
background:url(glyph-logo_May2016.png) no-repeat left center;
  background-size:18px;
    background-position:4%;
padding-left:30px;
  font-size:40px;
}
  
  .logo {
    display:block;
  position:absolute;
  top:15px;
  left:18px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
  font-weight: bold;
  line-height: 20px;
  padding: 0 0px;
  color: #000;
  /*float: left;*/
}
  
  
.Content{
  width:100%;
  }
  
  .Dreams,
  .Nightmare,
  .PlusMinus,
  .Shaver
{
  max-width:100%;
  height:auto;
  }
  
  .Shaver{
	padding-bottom: 120px;
}
  
  
  #menu-icon {

      
		display:inline-block;

	}
    
  .Menu {
      display: none;
  }
  
  .nav-mob{
    position: fixed;
    width: 100%;
    max-width:500px;
    background-color: #fff;
    z-index: 2;
  }

}

