* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	/* border: 1px solid; */
}

.MenuItems a:link,a:visited{
	text-decoration: none;
	color:#000;
}

.MenuItems a:hover{
	color:#000000;
}



body{
	display:flex;
	justify-content: center;
  flex-direction:column;
}

  .back{
    position: fixed;
    top:0px;
    left:5%;
    width: 100%;
    margin-top:0px;
    padding-top:0px;
    background-color: #fff;
    z-index: 2;
    height: 80px;
    max-width:1600px;
    
}

.back a{
  position:relative;
  top:70px;
  font-size:1.2em;
  text-decoration:none;
  line-height: 20px;
}
.Content{
	display:flex;
	font-family: 'Roboto', sans-serif;
	margin-top:70px;
  justify-content:center;
}

.Menu{
	display:flex;
	flex-direction: column;
	/* margin-right:5em;
	margin-left: 6em; */
	position:fixed;
	left:5%;
	top:70px;
}

#MenuTitle{
	padding-bottom:1.5em;
	font-size: 16px;
	font-weight:500;
}
#MenuTitle a,
#header a,
#header2 a{
	text-decoration: none;
	color: #000000;
}

#header2 {
	padding-bottom: 1em;
	padding-top:1.5em;
}
#header{
	padding-bottom: 1em;
}

.MenuObject{
	color:#bababa;
	font-size: 13px;
}

.MenuObject ul{
	line-height: 135%;
}

.Pictures{
	display:flex;
	flex-direction: column;
	max-width: 500px;
	padding-top: 3em;
	font-size: 14px;
	color:#515151;


}

.title{
	width: 205px;
}



.dreams{
	padding-bottom:5em;
  width:100%;
  height:auto;
}

.MenuObject ul {
  list-style-type: none;
}

/* Mobile Styles */
@media only screen and (max-device-width: 400px) {
  
  .Content{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
  }
  .Pictures{
    padding-top:7em;
    width:100%;
    max-width:1000px;
  }
  
  .dreams{
    width:100%;
  }
  
  .content-text{
    padding-left:20px;
    padding-right:20px;
    font-size:4em;
  
}
    .back{
    position: fixed;
    top:0px;
      left:0px;
    width: 100%;
    margin-top:0px;
    padding-top:0px;
    background-color: #fff;
    z-index: 2;
    height: 8em;
      max-width:none;
    
}
  
  .back a{
    top:0.9em;
    left:18px;
  font-size:3.5em;
  text-decoration:none;
  line-height: 20px;
}
  

  
  
  
  
}

/* Tablet Styles */
@media only screen and (min-device-width: 401px) and (max-device-width: 960px) {
  
 .Content{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
  }
  
  .dreams{
    width:100%;
    height:auto;
  }
  
  .content-text{
    padding-left:10px;
    padding-right:10px;
  
}
  
      .back{
    position: fixed;
    top:0px;
      left:0px;
    width: 100%;
    margin-top:0px;
    padding-top:0px;
    background-color: #fff;
    z-index: 2;
    height: 5em;
      max-width:none;
    
}
  
  .back a{
    top:0.9em;
    left:18px;
  font-size:2em;
  text-decoration:none;
  line-height: 20px;
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

}
}